@import "../../vars.css";

.container {
  color: var(--color-text);
}

.title {
  font-size: 1.8vw;
  font-weight: 700;
  letter-spacing: 0.09vw;
  text-transform: uppercase;
}

.projects {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.6vw;
  width: 100%;
  transition: 1s;
}
