@import "../../vars.css";

.containerContent {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
  z-index: 1;
  padding: 2vw 2vw;
  border-radius: 2vw;
  background: var(--color-bg);
  height: 85vh;
}

.containerContentHome {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.contentHero {
  margin-top: 5vh;
}

.title {
  margin-top: 1vh; 
  font-size: 2vw;
  font-weight: 900;
  margin-bottom: 3.44vh;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: max(1.5cqi, 1.56vw);
  font-family: var(--font-roboto);
  margin-bottom: 5.41vh;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 5.208vw;
  font-size: max(2cqi, 2.08vw);
  font-weight: 600;
  padding: 1.77vh 2.71vw;
  box-shadow: 0 0 0.21vw 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 40vw;
  height: 60vh;
  border-radius: 50%;
  position: relative;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.heroImg::before,
.heroImg::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 1000;
  background: linear-gradient(
    red,
    black,
    white
  );
}

@keyframes floating {
  0% {
    transform: translate(0, 0vw);
  }
  50% {
    transform: translate(0, 3.13vh); 
  }
  100% {
    transform: translate(0, -0vw);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 35vw; 
  top: -13.33vh; 
  left: -10vw;
  border-radius: 39.792vw;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(5.21vw);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 25vw; 
  top: 25.63vh;
  right: -25vw;
  border-radius: 39.792vw;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(5.21vw); 
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .containerHero {
    flex-direction: column-reverse;
  }

  .contentHero {
    align-items: center;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.containerHero {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 4.8vh;
}

.menu {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1vw;
  line-height: 6vh;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 5vh;
  width: 2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1vw;
  height: 0.178vh;
  border-radius: 1vh;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-0.94vh); 
}

.bar:after {
  transform: translateY(0.94vh); 
}

.mainHero {
  width: 100%;
  left: 52.083vw;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("https://i.postimg.cc/vHtXVqkr/bg.jpg") no-repeat top center / cover;
  position: relative;
}

.inner {
  max-width: 40vw;
  text-align: center;
  color: #fff;
  padding: 0 2vh;
}

.title {
  font-size: 2.7vw;
}

.btn {
  margin-top: 1vh;
  padding: 0.3vw 5vw;
  background-color: #1179e7;
  border: none;
  border-radius: 1.302vw;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.containerContent.active {
  border-style: inset;
  border-color: rgba(153, 150, 150, 0.6);
}

.containerHero.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.containerHero.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.containerHero.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.containerHero.active .mainHero {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(67.708vw) rotateY(20deg) translateZ(16.146vw) scale(0.6);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(67.708vw) rotateY(20deg) translateZ(16.146vw) scale(0.6);
  }
}

.links {
  display: none;
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  justify-content: center;
  margin-top: 16vh;
}

ul {
  list-style: none;
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
}

.links button {
  text-decoration: none;
  color: var(--color-text);
  padding: 0.5vw 0;
  display: none;
  font-size: 1vw;
  font-weight: 300;
  background: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  bottom: unset;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(0.521vw);
  cursor: pointer;
  animation: hide 0.5s forwards ease;
}

.links button:hover {
  color: #fff;
}

.containerHero.active .links{
  display: flex;
}
.containerHero.active .links button {
  display: inline-block;
  animation: appear 0.5s forwards ease;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(0.521vw);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(0.521vw);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -5.208vw;
  opacity: 0;
  border-radius: 2vw;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
}

.shadow.two {
  z-index: -2;
}

.containerHero.active .shadow.one {
  animation: shadow-one 0.6s ease-out forwards;
  transform: perspective(67.708vw) rotateY(20deg) translateZ(16.146vw) scale(0.6);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    opacity: 0.05;
    transform: perspective(67.708vw) rotateY(20deg) translateZ(40.521vw) scale(0.5);
  }

  100% {
    opacity: 0.15;
    transform: perspective(67.708vw) rotateY(20deg) translateZ(16.146vw) scale(0.6);
  }
}

.containerHero.active .shadow.two {
  animation: shadow-two 0.6s ease-out forwards;
  transform: perspective(67.708vw) rotateY(20deg) translateZ(11.458vw) scale(0.6);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    opacity: 0.05;
    transform: perspective(67.708vw) rotateY(20deg) translateZ(40.521vw) scale(0.6);
  }

  100% {
    opacity: 0.1;
    transform: perspective(67.708vw) rotateY(20deg) translateZ(11.458vw) scale(0.6);
  }
}

.containerHero.active .mainHero:hover + .shadow.one {
  transform: perspective(67.708vw) rotateY(20deg) translateZ(11.979vw) scale(0.5);
}

.containerHero.active .mainHero:hover {
  transform: perspective(67.708vw) rotateY(20deg) translateZ(17.708vw) scale(0.5);
}
