@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 8%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw; 
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5.2vw; 
  padding: 10vh 10vw; 
  gap: 1.4vw; 
}

.text h2 {
  font-size: 4.17vw; 
  font-weight: 700;
  letter-spacing: 0.21vw; 
}

.text p {
  font-size: 2.08vw; 
  font-weight: 400;
  letter-spacing: 0.1vw; 
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 1.36vw; 
}

.link {
  display: flex;
  align-items: center;
  gap: 1.3vw;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.56vw; 
  font-weight: 400;
  letter-spacing: 0.08vw; 
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 2.81vh;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
