@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.circle {
  width: 1.25vw;
  height: 2.4vh;
  position: fixed;
  display: block;
  border-radius:20px;
  pointer-events:none;
}
